<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a routerLink="">Acceuil</a></li>
                    <li><a routerLink="">Compte</a></li>
                    <li><a routerLink="" class="active">Panier</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUIT</th>
                            <th>NOM & DESCRIPTION</th>
                            <th class="text-center">PRIX UNITE</th>
                            <th class="text-center">QUANTITE</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center"><i class="fa fa-trash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="image" data-title="PRODUIT"><img src="../../../assets/img/600-600/p1.png" alt="#"></td>
                            <td class="product-des" data-title="DESCRIPTION">
                                <p class="product-name"><a href="#">Maison 1</a></p>
                                <p class="product-des">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
                            </td>
                            <td class="price" data-title="PRIX"><span>$110.00 </span></td>
                            <td class="qty" data-title="QUANTITE"><!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[1]">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100"
                                        value="1">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td class="total-amount" data-title="TOTAL"><span>$220.88</span></td>
                            <td class="action" data-title="SUPPRIMER"><a href="#"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="image" data-title="PRODUIT"><img src="../../../assets/img/600-600/g4.png" alt="#"></td>
                            <td class="product-des" data-title="DESCRIPTION">
                                <p class="product-name"><a href="#">Appartement 4</a></p>
                                <p class="product-des">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
                            </td>
                            <td class="price" data-title="PRICE"><span>$110.00 </span></td>
                            <td class="qty" data-title="QUANTITE"><!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[2]">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[2]" class="input-number" data-min="1" data-max="100"
                                        value="2">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[2]">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td class="total-amount" data-title="TOTAL"><span>$220.88</span></td>
                            <td class="action" data-title="SUPPRIMER"><a href="#"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="image" data-title="PRODUIT"><img src="../../../assets/img/600-600/g7.png" alt="#"></td>
                            <td class="product-des" data-title="DESCRIPTION">
                                <p class="product-name"><a href="#">Maison 7</a></p>
                                <p class="product-des">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
                            </td>
                            <td class="price" data-title="PRIX"><span>$110.00 </span></td>
                            <td class="qty" data-title="QUANTITE"><!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[3]">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[3]" class="input-number" data-min="1" data-max="100"
                                        value="3">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[3]">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </td>
                            <td class="total-amount" data-title="TOTAL"><span>$220.88</span></td>
                            <td class="action" data-title="SUPPRIMER"><a href="#"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Entrer votre coupon">
                                        <button class="btn">Appliquer</button>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">
                                        Frais d'envoi (+10$)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Total Panier<span>$330.00</span></li>
                                    <li>Expédition<span>Gratuit</span></li>
                                    <li>Remboursement<span>$20.00</span></li>
                                    <li class="last">Vous payez<span>$310.00</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="#" class="btn">Caisse</a>
                                    <a href="#" class="btn">Continuer les achats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
<app-newsletter></app-newsletter>