<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../../assets/img/600-400/p1-64.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Collection: <br>Maisons</h3>
								<a routerLink="" class="cta-btn">Voir maintenant <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../../assets/img/600-400/p9-64.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Collection: <br>Appartements</h3>
								<a href="#" class="cta-btn">Voir maintenant <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../../assets/img/600-400/p3-64.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Collection: <br>Salles de Gala</h3>
								<a href="#" class="cta-btn">Voir maintenant <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Nouvelles publications</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class=""><a data-toggle="tab" href="#tab1">Maisons</a></li>
									<li><a data-toggle="tab" href="#tab1">Appartements</a></li>
									<li><a data-toggle="tab" href="#tab1">Salles</a></li>
									<li><a data-toggle="tab" href="#tab1">Chambres</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/g1.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">150.000 FCFA <del class="product-old-price">200.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/p2.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">250.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/g3.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/p4.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/g5.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>jours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Heures</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">Promo WeeKend</h2>
							<p>Collection avec réduction de -50%</p>
							<a class="primary-btn cta-btn" href="#">Acheter maintenant</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top Ventes</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Journalier</a></li>
									<li><a data-toggle="tab" href="#tab2">Hebdomadaire</a></li>
									<li><a data-toggle="tab" href="#tab2">Mensuel</a></li>
									<li><a data-toggle="tab" href="#tab2">Annuel</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/p6.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/p9.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/g6.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/g7.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../../assets/img/600-600/p8.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Categorie</p>
												<h3 class="product-name"><a href="#">Nom produit</a></h3>
												<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">souhaiter</span></button>
													<button class="quick-view" routerLink="/product"><i class="fa fa-eye"></i><span class="tooltipp">Voir</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Commander</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top Prix</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g4.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p10.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p11.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p4.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p5.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p7.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top Visités</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g4.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p2.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p5.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g4.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p3.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p11.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top likés</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g7.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p1.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g1.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/g6.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p7.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="../../../assets/img/600-600/p12.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Categorie</p>
										<h3 class="product-name"><a href="#">Nom produit</a></h3>
										<h4 class="product-price">210.000 FCFA <del class="product-old-price">255.000 FCFA</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<app-newsletter></app-newsletter>