<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>NOS <strong>NEWSLETTERS</strong></p>
							<form>
								<input class="input" type="email" placeholder="Entrer votre email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Souscrire</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a routerLink=""><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a routerLink=""><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a routerLink=""><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a routerLink=""><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->